* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  max-width: 100%; }

.container {
  max-width: 1080px;
  padding: 0 1.5rem;
  margin: 0 auto;
  overflow: hidden; }

.btn {
  padding: 0.8rem 2rem;
  cursor: pointer;
  border: none;
  display: inline-block;
  margin-top: 1rem;
  -webkit-transition: background-color 0.5s;
  -moz-transition: background-color 0.5s;
  -ms-transition: background-color 0.5s;
  -o-transition: background-color 0.5s;
  transition: background-color 0.5s; }

.py-1 {
  padding: 1rem 0; }

.py-2 {
  padding: 2rem 0; }

.py-3 {
  padding: 3rem 0; }

.py-4 {
  padding: 4rem 0; }

.my-1 {
  margin: 1rem 0; }

.my-2 {
  margin: 2rem 0; }

.my-3 {
  margin: 3rem 0; }

.my-4 {
  margin: 4rem 0; }

.text-center {
  text-align: center; }

.bottom-line {
  border-bottom: 3px solid #ffbc00;
  width: 25%;
  margin: 0.5rem auto 2rem; }

body {
  font-family: 'Dosis', sans-serif;
  line-height: 1.6; }

a {
  text-decoration: none;
  color: #333; }

ul {
  list-style: none; }

h2, h3, h4 {
  text-transform: uppercase; }

.section-title {
  font-size: 2.5rem; }

#header-home {
  background: url("../assets/moon.jpg") #333 no-repeat center 75%/cover;
  height: 70vh;
  color: #fff; }
  #header-home #logo {
    height: 70px; }
  #header-home .lead {
    background-color: rgba(225, 225, 225, 0.25);
    font-size: 20px; }

#header-content {
  text-align: center;
  padding-top: 4em; }
  #header-content h1 {
    font-size: 4rem;
    line-height: 1.3; }
    #header-content h1 .txt {
      border-right: 3px solid #f4f4f4;
      -webkit-animation: borderBlink 1s step-end infinite;
      animation: borderBlink 1s step-end infinite; }

@-webkit-keyframes borderBlink {
  from, to {
    border-color: transparent; }
  50% {
    border-color: black; } }

@keyframes borderBlink {
  from, to {
    border-color: transparent; }
  50% {
    border-color: black; } }

#main-nav {
  display: flex;
  justify-content: space-between;
  padding-top: 1rem; }
  #main-nav ul {
    display: flex;
    padding-top: 1rem; }
    #main-nav ul a {
      padding: 1rem 1.5rem;
      color: #f4f4f4;
      text-tranform: uppercase;
      border-bottom: 3px transparent solid;
      transition: border-color 0.5s; }
      #main-nav ul a:hover {
        border-color: #ccc; }
      #main-nav ul a.current {
        border-color: #ffbc00; }

.btn-main {
  background-color: #ffbc00;
  color: #333; }
  .btn-main:hover {
    background-color: #ffc933; }

.btn-light {
  background-color: #f4f4f4;
  color: #333; }
  .btn-light:hover {
    background-color: #dbdbdb; }

.btn-dark {
  background-color: #333;
  color: #f4f4f4; }
  .btn-dark:hover {
    background-color: #4d4d4d; }

#home-a .specializations {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1rem;
  margin-top: 2rem; }
  #home-a .specializations .fa-solid {
    color: #ffbc00;
    margin-bottom: 1rem; }

#home-b .stats {
  display: grid;
  grid-template-columns: repeat(3, 1fr); }
  #home-b .stats div {
    padding: 3rem; }
    #home-b .stats div:nth-child(odd) {
      background-color: #f4f4f4; }
    #home-b .stats div:nth-child(even) {
      background-color: #ccc; }
  #home-b .stats li {
    line-height: 2; }
    #home-b .stats li.stats-title {
      font-size: 1.5rem; }
    #home-b .stats li.stats-number {
      font-size: 2rem;
      font-weight: bold; }

#home-c .process {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1.5rem;
  text-align: center; }
  #home-c .process-icon {
    border-radius: 50%;
    background-color: #333;
    color: #fff;
    padding: 2rem;
    width: 150px;
    height: 150px;
    line-height: 70px;
    text-align: center;
    position: relative;
    transition: background-color 0.5s; }
    #home-c .process-icon:hover {
      background-color: #ffbc00; }
      #home-c .process-icon:hover .process-step {
        background-color: #333; }
  #home-c .process-step {
    position: absolute;
    top: 0;
    right: 0;
    height: 35px;
    width: 35px;
    line-height: 5px;
    border-radius: 50%;
    background-color: #ffbc00;
    color: #f4f4f4;
    padding: 1rem 0;
    font-size: 20px;
    transition: background-color 0.5s; }

.footer {
  background-color: #333;
  color: #f4f4f4; }
  .footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center; }
    .footer-content .social .fa-brands {
      color: #f4f4f4;
      margin-left: 1rem;
      width: 45px;
      height: 45px;
      line-height: 30px;
      text-align: center;
      border: 1px solid #f4f4f4;
      padding: 0.5rem;
      border-radius: 50%;
      transition: background-color 0.5s; }
      .footer-content .social .fa-brands:hover {
        background-color: #ffbc00; }
