@import "functions";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  max-width: 100%;
}

.container {
  max-width: $website-width;
  padding: 0 1.5rem;
  margin: 0 auto;
  overflow: hidden;
}

%btn-shared {
  padding: 0.8rem 2rem;
  cursor: pointer;
  border: none;
  display: inline-block;
  margin-top: 1rem;
  @include transition(background-color 0.5s);
}

.py {
  &-1 {
    padding: 1rem 0;
  }
  &-2 {
    padding: 2rem 0;
  }
  &-3 {
    padding: 3rem 0;
  }
  &-4 {
    padding: 4rem 0;
  }
}

.my {
  &-1 {
    margin: 1rem 0;
  }
  &-2 {
    margin: 2rem 0;
  }
  &-3 {
    margin: 3rem 0;
  }
  &-4 {
    margin: 4rem 0;
  }
}

.text-center {
  text-align: center;
}

.bottom-line {
  border-bottom: 3px solid $main-color;
  width: 25%;
  margin: 0.5rem auto 2rem;
}

.lead {
  font-size: 125%;
  margin-bottom: 1rem;
}

.bg {
  &-main {
    background-color: $main-color;
    color: set-text-color($main-color);
  }
  &-dark {
    background-color: $dark-color;
    color: set-text-color($dark-color);
  }
  &-light {
    background-color: $light-color;
    color: set-text-color($light-color);
  }
  &-medium {
    background-color: $medium-color;
    color: set-text-color($medium-color);
  }
}

.btn {
  &-main {
    background-color: $main-color;
    color: set-text-color($main-color);
  }
  &-dark {
    background-color: $dark-color;
    color: set-text-color($dark-color);
  }
  &-light {
    background-color: $light-color;
    color: set-text-color($light-color);
  }
  &-medium {
    background-color: $medium-color;
    color: set-text-color($medium-color);
  }
}

.progress {
  height: 20px;
  background-color: $medium-color;
  border-radius: 15px;
  margin-bottom: 0.5rem;
  overflow: hidden;

  div {
    height: 20px;
    background-color: $main-color;
  }
}

#map { height: 400px; }

.leaflet-popup-content-wrapper{
  max-width: none !important;
  box-sizing: content-box !important;
}

