@import "variables";
@import "utilities";
@import "function";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  max-width: 100%;
}

body {
  font-family: 'Dosis', sans-serif;
  line-height: 1.6;
}

a {
  text-decoration: none;
  color: $dark-color;
}

ul {
  list-style: none;
}

h2, h3, h4 {
  text-transform: uppercase;
}

#header {
  &-home {
    background: url("../assets/moon.jpg") $dark-color no-repeat center 75% / cover;
    height: 70vh;
    color: #fff;
  }
    &-content {
      text-align: center;
      padding-top: 2em;
      h1{
        font-size: 4rem;
        line-height: 1.3;
        .txt{
          border-right: 3px solid $light-color;
          -webkit-animation: borderBlink 1s step-end infinite;
          animation: borderBlink 1s step-end infinite;
        }
      }
    }
}

#logo {
  width: 70px;
  height: 70px;

}
.lead {
  background-color: $light-transparent-color;
  font-size: 20px;
}
.container {
  max-width: $website-width;
  padding: 0 1.5rem;
  margin: 0 auto;
  overflow: hidden;
}

#main-nav {
  display: flex;
  justify-content: space-between;
  padding-top: 1rem;

  ul {
    display: flex;
    padding-top: 1rem;

    a {
      padding: 1rem 1.5rem;
      color: $light-color;
      text-transform: uppercase;
      border-bottom: 3px transparent solid;
      transition: border-color 0.5s;

      &:hover {
        border-color: $medium-color;
      }

      &.current {
        border-color: $main-color;
      }
    }
  }
}
.btn {
  @extend %btn-shared;

  &-main {
    background-color: $main-color;
    color: $dark-color;

    &:hover {
      background-color: lighten($main-color, 10%);
    }
  }

  &-light {
    background-color: $light-color;
    color: set-text-color($light-color);;

    &:hover {
      background-color: darken($light-color, 10%);
    }
  }

  &-dark {
    background-color: $dark-color;
    color: set-text-color($dark-color);;

    &:hover {
      background-color: lighten($dark-color, 10%);
    }
  }
}

#home{
  &-a{
    .specializations{
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-gap: 1rem;
    }
  }
}